html {
  background-image: url("./images/background-images/dot-grid.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 1000px) {
  body {
    padding-top: 80px;
  }

  .paragraph-header {
    font-size: 30px;
    font-family: monospace;
  }
  
  .paragraph {
    font-size: 20px;
    font-family: monospace;
    text-indent: 40px;
  }
  
  .text-wrapper {
    width: 60%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navigation-buttons {
    background-color: transparent;
    color: white;
    font-family: monospace;
    display: block;
    float: left;
    font-size: 15px;
    padding: 14px;
    margin: 5px;
    
    
    text-decoration: none;
  }
  
  .navigation-buttons:hover {
    cursor: pointer;
  }

  .navigation-bar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.25s,
      box-shadow 0.25s,
      backdrop-filter 0.25s;
    -webkit-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      -webkit-backdrop-filter 0.5s;
    -moz-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
    -o-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
  }
  
  .sticky-active {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 10px;
    border-radius: 14px;
    box-shadow: 3px 3px 10px gray;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}