<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/stylesheet.css">
    <script type="text/javascript" src="/public/javascripts/header.js"></script>
  </head>
  <header>
    <div class="navigation-bar" id="navbar">
      <span class="navigation-buttons-wrapper">
        <a class="navigation-buttons" id="home-button" href="/">Home</a>
        <a class="navigation-buttons" id="demos-button" href="/demos">Demos</a>
        <a class="navigation-buttons" id="lab-button" href="/the-lab">The Lab</a>
        <a class="navigation-buttons" id="resume-button" href="/resume">Resume</a>
        <a class="navigation-buttons" id="contact-button" href="/contact-me">Contact Me</a>
      </span>
      <span class="social-media-wrapper">
        <a href="https://twitter.com/ctrlv_andrew" target="_blank"><img class="social-icon" id="twitter-button" src="/public/images/icons/twitter-icons8.svg"></a>
        <a href="https://www.instagram.com/andrew.l.williams/" target="_blank"><img class="social-icon" id="instagram-button" src="/public/images/icons/instagram-icons8.svg"></a>
        <a href="https://www.linkedin.com/in/awilliams04/" target="_blank"><img class="social-icon" id="linkedin-button" src="/public/images/icons/linkedin-icons8.svg"></a>
      <span>
    </div>
  </header>
  <body>
    
  </body>
</html>