@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 1000px) {
  /* Main styles for use on every page (device-width > 1000px) */
  
  body {
    padding-top: 80px;
  }

  .paragraph-header {
    font-size: 30px;
    font-family: monospace;
  }
  
  .paragraph {
    font-size: 20px;
    font-family: monospace;
  }
  
  .text-wrapper {
    width: 60%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Navigation bar styles (device-width > 1000px) */
  
  .navigation-buttons {
    background-color: transparent;
    color: white;
    font-family: monospace;
    display: block;
    float: left;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    text-decoration: none;
  }

  .navigation-buttons-wrapper {
    margin-left: 25px;
  }
  
  .navigation-buttons:hover {
    cursor: pointer;
  }

  .navigation-bar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(64, 64, 64);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.25s,
      box-shadow 0.25s,
      backdrop-filter 0.25s;
    -webkit-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      -webkit-backdrop-filter 0.5s;
    -moz-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
    -o-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
  }
  
  .sticky-active {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 10px;
    border-radius: 14px;
    box-shadow: 3px 3px 10px gray;
    z-index: 1000;
    background-color: rgb(64, 64, 64, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .social-media-wrapper {
    display: block;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  
  .social-icon {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    color: transparent;
    background-color: transparent;
    text-decoration: none;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }

  #twitter-button {
    height: 33px;
    width: 33px;
  }

  #instagram-button {
    height: 33px;
    width: 33px;
  }

  /* Home specific styles (device-width > 100px) */
  
  #demo-paragraph, #demo-button-wrapper {
    width: 76%;
    display: block;
    float: left;
  }

  #index-sections {
    margin-bottom: 20px;
    width: 60%;
    height: 30%;
  }

  .index-paragraph {
    font-size: 20px;
    font-family: monospace;
  }

  #demo-preview-img {
    width: 20%;
    display: block;
    float: right;
    border-radius: 10px;
  }

  #the-lab-paragraph, #the-lab-button {
    width: 76%;
    display: block;
    float: right;
  }

  #the-lab-preview-img {
    width: 20%;
    display: block;
    float: left;
    border-radius: 10px;
  }


  .redirect-button {
    width: 120px;
    height: 50px;
    font-size: 14px;
    display: block;
    font-family: monospace;
    color: white;
    border: black solid 3px;
    background-color: black;
    border-radius: 10px;
    transition: background-color linear 0.08s,
    color linear 0.08s;
  }

  .redirect-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  #demos-redirect {
    float: right;
  }

  #the-lab-redirect {
    float: left;
  }

  /* The Lab specific styles (device-width > 1000px) */

  .editor {
    display: inline-block;
    height: 300px;
    width: 30%;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(57, 57, 57);
    color: lightgray;
    font-family: monospace;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    outline: none;
    min-width: none;
  }

  .input {
    text-align: center;
    width: auto;
  }

  .lab-wrapper {
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 600) and (max-device-width: 999px) {
  body {
    padding-top: 80px;
  }

  .paragraph-header {
    font-size: 30px;
    font-family: monospace;
  }
  
  .paragraph {
    font-size: 20px;
    font-family: monospace;
    text-indent: 40px;
  }
  
  .text-wrapper {
    width: 60%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navigation-buttons {
    background-color: transparent;
    color: white;
    font-family: monospace;
    display: block;
    float: left;
    font-size: 15px;
    padding: 14px;
    margin: 5px;
    
    
    text-decoration: none;
  }
  
  .navigation-buttons:hover {
    cursor: pointer;
  }

  .navigation-bar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.25s,
      box-shadow 0.25s,
      backdrop-filter 0.25s;
    -webkit-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      -webkit-backdrop-filter 0.5s;
    -moz-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
    -o-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
  }
  
  .sticky-active {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 10px;
    border-radius: 14px;
    box-shadow: 3px 3px 10px gray;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .social-media-wrapper {
    display: none;
  }
  
  .social-icon {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 400px) and (max-device-width: 599px) {
  body {
    padding-top: 80px;
  }

  .paragraph-header {
    font-size: 30px;
    font-family: monospace;
  }
  
  .paragraph {
    font-size: 20px;
    font-family: monospace;
    text-indent: 40px;
  }
  
  .text-wrapper {
    width: 90%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation-buttons {
    background-color: transparent;
    color: white;
    font-family: monospace;
    display: block;
    float: left;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
    
    
    text-decoration: none;
  }
  
  .navigation-buttons:hover {
    cursor: pointer;
  }

  .navigation-bar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.25s,
      box-shadow 0.25s,
      backdrop-filter 0.25s;
    -webkit-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      -webkit-backdrop-filter 0.5s;
    -moz-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
    -o-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
  }
  
  .sticky-active {
    position: fixed;
    width: 80%;
    left: 10%;
    top: 10px;
    border-radius: 14px;
    box-shadow: 3px 3px 10px gray;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  .social-media-wrapper {
    display: none;
  }
  
  .social-icon {
    display: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 1px) and (max-device-width: 399px) {
  body {
    padding-top: 80px;
  }

  .paragraph-header {
    font-size: 20px;
    font-family: monospace;
  }
  
  .paragraph {
    font-size: 14px;
    font-family: monospace;
    text-indent: 40px;
  }
  
  .text-wrapper {
    width: 90%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navigation-buttons {
    background-color: transparent;
    color: white;
    font-family: monospace;
    display: block;
    float: left;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
    text-decoration: none;
  }
  
  .navigation-buttons:hover {
    cursor: pointer;
  }

  .navigation-bar {
    overflow: hidden;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.25s,
      box-shadow 0.25s,
      backdrop-filter 0.25s;
    -webkit-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      -webkit-backdrop-filter 0.5s;
    -moz-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
    -o-transition: 
      top 0.5s,
      left 0.5s,
      width 0.5s,
      background-color 0.5s,
      border-radius 0.5s,
      box-shadow 0.5s,
      backdrop-filter 0.5s;
  }
  
  .sticky-active {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 10px;
    border-radius: 14px;
    box-shadow: 3px 3px 10px gray;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .social-media-wrapper {
    display: none;
  }
  
  .social-icon {
    display: none;
  }
}